{% extends 'base.html' %}
{% block title %}Coffee Mate{% endblock %}

{% block body %}
  <h1>Welcome!</h1>
    <p>Guide to all things coffee! Well Dutch Bros. (for now)</p>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/coffee-types">Latte, Mocha, What?</a></li>
    <li><a href="/secret-menu">"Secret" Menu Explained</a></li>
    <li><a href="/no-caffeine">Hold the Caffeine</a></li>
    <li><a href="/caffeine">Caffeine, but Hold the Coffee</a></li>
    <li><a href="/extra-caffeine">Keep Me Up for Hours</a></li>
  </ul>
{% endblock %}